:root {
  --bg: #1d2021;
  --bgme: #282828;
  --alt: #a89984;
  
  --font: Inconsolata;
  --font-size: 12px;
}

* {
	font-family: var(--font) !important;
	font-size:   var(--font-size) !important;
}
/****
 * TAB BG COLOR *
 ****/
window,
#box,
#toolbar-menubar,
#TabsToolbar,
#PersonalToolbar,
#navigator-toolbox,
#sidebar-box,
#nav-bar {
  background-color: var(--bg) !important;
  -moz-appearance: none !important; /*?*/
  box-shadow: none !important;
  background-image: none !important;
  border: none !important;
} 

/****
 * HIDE SEPARATORS BETWEEN TABS *
 ****/
.tabbrowser-tab::after {
	opacity: 0 !important;
	border: none !important;
}

/****
 * TABS *
 ****/
.tabbrowser-tab:hover > .tab-stack {
    background-color: var(--bgme) !important;
}

tab[selected="true"] .tab-content {
	color: var(--alt) !important;
}

tab[selected="true"] .tab-background {
	background: var(--bgme) !important;
}

.tab-close-button {
  display:none;
}

.tab-text:not([selected="true"]){
  color: var(--alt) !important;
}

.tab-icon-image:not([pinned]) { 
  display: none;
}

#tabbrowser-tabbox {margin-top:0px !important;}
.toolbar-items {margin-top: -6px !important;}
.toolbar-items {margin-bottom: 0px !important;}

.tabbrowser-tab[fadein]:not([pinned]) { max-width: 100% !important; }

/****
 * CENTER TAB TEXT *
 ****/
.tab-label {
	-moz-box-flex: 1 !important;
	text-align: center !important;
}

/****
 * HIDE STUFF *
 ****/
#urlbar-go-button,
#forward-button,
#back-button,
#reload-button,
#pocket-button,
#pageActionButton,
#pageActionSeparator,
#star-button,
#identity-box,
#tracking-protection-icon-box,
#tracking-protection-icon-container,
#tabs-newtab-button,
#new-tab-button,
#PanelUI-menu-button {
  display: none !important;
}

#alltabs-button { display: none !important; }

/****
 * SET SIZE OF CONTAINER BOTTOM LINE *
 ****/
.tab-bottom-line {
  background-size: 3px 1px !important;
  background-repeat: no-repeat !important;
  background-position-x: center !important;
}


/****
 * URL BAR *
 ****/
#urlbar-background {
	background: transparent !important;
  border: none !important;
  box-shadow: none !important;

}

.urlbar-input-box{
  text-align: center !important;
  color: var(--alt);
}

#urlbar .urlbarView { display:none !important;}

/****
 * NAV BAR *
 ****/ 
#nav-bar:not([customizing]) {
	-moz-box-ordinal-group: 0 !important;
	margin-bottom: 10px;
	margin-top: calc(var(--tab-min-height) * -1 - 10px) !important;
}

/****
 * ANIMATIONS *
 ****/
.toolbarbutton-badge-stack .toolbarbutton-icon {
  width: 0px !important;
  height: 16px !important;
  transition: all 0.3s;
}

#navigator-toolbox:hover .toolbarbutton-badge-stack .toolbarbutton-icon {
  transform: rotate(360deg);
  width: 16px !important;
}
