/****
 * VARIABLES *
 ****/

:root {
	--tabs-bg:			#1d2021;
	--tabs-fg:			#a89984;
	--tabs-focused-bg:	#3c3836;

	--font: Terminus;
	--font-size: 12px;
}

/****
 * FONTS
 ****/

* {
	font-family: var(--font) !important;
	font-size:   var(--font-size) !important;
}

/****
 * TABS COLORS *
 ****/

/* focused tab color */
.tab-content[selected="true"] {
	background: var(--tabs-focused-bg) !important;
	color: var(--tabs-fg) !important;
}

/* tab background color on hover */
.tabbrowser-tab:hover > .tab-stack {
	background-color: var(--tabs-focused-bg) !important;
}

/* unfocused foreground color */
.tab-text:not([selected="true"]){
	color: var(--tabs-fg) !important;
}

/* background color behind tabs and addons toolbar */
#TabsToolbar,
#PersonalToolbar,
#navigator-toolbox {
	background-color: var(--tabs-bg) !important;
	-moz-appearance: none !important; /*?*/
	box-shadow: none !important;
	background-image: none !important;
	border: none !important;
} 

.tabbrowser-tab::after {
	opacity: 0 !important;
	border: none !important;
}

/****
 * TABS SIZE
 ****/

/* minimize tab height */
#tabbrowser-tabbox {
	margin-top:0px !important;
}

.toolbar-items {
	margin-top: -6px !important;
	margin-bottom: 0px !important;
}

#TabsToolbar, #tabbrowser-tabs, #tabbrowser-tabs > .tabbrowser-arrowscrollbox, #tabbrowser-arrowscrollbox {
	min-height: 0 !important; 
}

/* tabs full width */
.tabbrowser-tab[fadein]:not([pinned]) {
	max-width: 100% !important;
}

/* center tab label */
.tab-label {
	-moz-box-flex: 1 !important;
	text-align: center !important;
}

/* shrink container underline on tabs */
.tab-bottom-line {
	background-size: 3px 1px !important;
	background-repeat: no-repeat !important;
	background-position-x: center !important;
}

/****
 * DEBLOAT *
 ****/

#back-button,
#PanelUI-menu-button,
#tabs-newtab-button,
#new-tab-button,
#alltabs-button,
.tab-close-button,
#urlbar .urlbarView {
	display: none !important;
}

/* remove url bar */
#nav-bar:not([customizing]) {
	-moz-box-ordinal-group: 0 !important;
	margin-bottom: 10px;
	margin-top: calc(var(--tab-min-height) * -1 - 10px) !important;
}

/* hide tab bar if only one tab open */
tab:only-of-type {
	display: none;
}

#urlbar-background {
	background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

/****
 * ADDONS BAR ANIMATION *
 ****/
.toolbarbutton-badge-stack .toolbarbutton-icon {
	width: 0px !important;
	height: 16px !important;
	transition: all 0.3s;
}

#navigator-toolbox:hover .toolbarbutton-badge-stack .toolbarbutton-icon {
	transform: rotate(360deg);
	width: 16px !important;
}

#PersonalToolbar {
	display: flex;
	position: absolute;
	z-index: 1;
	right: 0;
	opacity: 0;
	pointer-events: none
}

#navigator-toolbox:hover > #PersonalToolbar {
	opacity: 1;
	pointer-events: auto;
}

